{% load static %}
{% load news_tags %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

    <body>
        <div class="topnav">
          <a href="{% url 'about' %}">О нас</a>
          <a href="{% url 'add' %}">Добавить новость</a>
        </div>


        <div class="sidenav">
          <a href="{% url 'index' %}">Главная</a><hr class="color-hr">
          <p>Категории</p><hr style="color: white">
          {% categorys as category%}
          {% for item in category %}
            <a href="{% url 'category' item.pk %}"><i>{{item.title}}</i></a>
          {% endfor %}<hr class="color-hr">
        </div>



              {% block body %}

              {% endblock %}

  </body>
</html>